.title-section {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.title-section h2 {
    font-size: 32px;
    color: #0d6efd;
}

.campanha-card {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.campanha-card h2 {
    margin-top: 0;
}

.campanha-card span {
    display: block;
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

footer {
    text-align: center;
    padding: 20px;
}

.btn-voltar {
    padding: 10px 25px;
    background-color: #1976d2;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-voltar:hover {
    background-color: #155a9c;
}